body {

    font-family: Arial;
    padding: 20px;

}

table {

    width: 100%;
    border-collapse: collapse;

}

th, td {

    border: 1px solid #ccc;
    padding: 10px;

}

select,
input,
button {

    padding: 10px;
    margin: 5px;

}

.filtros {

    margin-bottom: 20px;

}